.root {
  --small-gap: 4px;
  --medium-gap: 8px;
  --large-gap: 16px;
  --color-error: red;
  --color-success: green;
}

form {
  border: solid thin black;
  border-radius: 4px;
  gap: var(--small-gap);
  margin: 0 auto;
  padding: 8px;
  width: 480px;
}

.button {
  background-color: lightblue;
  border: solid thin black;
  border-radius: 4px;
  color: black;
  margin-top: 8px;
  padding: 8px;
}

.button--jumbo {
  font-size: 1.5rem;
  font-weight: bold;
  height: 10vh;
  text-transform: uppercase;
  transition: a11 0.25s;
  width: 40vw;
}

.button--jumbo:hover,
.buttom--jumbo:focus {
  border-radius: 32px;
}

.button--reset {
  background-color: orange;
}

.flex {
  display: flex;
  gap: var(--medium-gap);
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-center {
  justify-content: center;
}

.mt-medium {
  margin-top: var(--medium-gap);
}

.text-center {
  text-align: center;
}

.screen-header-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
